/* Media */
$mobile-width-only: 319px;
$tablet-width-only: 767px;
$mobile-width: 320px;
$tablet-sm-width: 680px;
$tablet-width: 768px;
$desktop-width: 1200px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

/* Colors */

$white: #ffffff;
$black: #000000;
$skyblue: #81b3d2;
$hover-skyblue: #3d637a;
$aqua-accent: #80ffcc;
$pale-orange: #ffcc80;