/* Media */
$mobile-width-only: 319px;
$tablet-width-only: 767px;
$mobile-width: 320px;
$tablet-sm-width: 680px;
$tablet-width: 768px;
$desktop-width: 1200px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

/* Colors */

$white: #ffffff;
$black: #000000;

$card-bg: #f2f2f2;

$def-border: #1698d9; 
$def-hover: #2ea8e6;
$selected-border: #d91667;
$selected-hover: #e62e7a;
$disable-border: #b3b3b3;

$gray-color: #666666;

$out-stock: #ffff66;
$action: #1698d9;